body p{
    text-align:justify;
}
article{
    margin-top: 300px;
}
article#solar{
    margin-top: 0px;
}
article h1 {
    background-color: rgb(3, 3, 3);
    color: white;
    padding: 10px;
}
article h3{
    background: lightgrey;
    padding: 10px;
}